.body {
    align-items: center;
    justify-content: center;
}

.holder {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    margin: 50px auto;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 100px);
    grid-template-areas: 
    '1 2 3 4'
    '5 6 7 8'
    '9 10 11 12';
}

.container > div {
    background-color: aquamarine;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
}

.trail {
    display: grid;
    grid-template-columns: 130px repeat(7,50px);
    grid-template-rows: 40px 40px;
    grid-template-areas: 
    'topWord ba bb bc bd be bf bg'
    'botWord t1 t2 t3 t4 t5 t6 t7';
}
.trail > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 206, 186);
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em
}
.btnHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 6px 12px;
}


.board {
    grid-area: 'topWord'
}
.a {
    grid-area: 'ba';
}
.b {
    grid-area: 'bb';
}
.c {
    grid-area: 'bc';
}
.d {
    grid-area: 'bd';
}
.e {
    grid-area: 'be';
}
.f {
    grid-area: 'bf';
}
.g {
    grid-area: 'bg';
}
.trail {
    grid-area: 'botWord';
}
.t1 {
    grid-area: 't1';
}
.t2 {
    grid-area: 't2';
}
.t3 {
    grid-area: 't3';
}
.t4 {
    grid-area: 't4';
}
.t5 {
    grid-area: 't5';
}
.t6 {
    grid-area: 't6';
}
.t7 {
    grid-area: 't7';
}

.c1 {
    grid-area: '1';
    background-color: bisque;
}

.c2 {
    grid-area: '2';
}

.c3 {
    grid-area: '3';
}

.c4 {
    grid-area: '4';
}

.c5 {
    grid-area: '5';
}

.c6 {
    grid-area: '6';
}

.c7 {
    grid-area: '7';
}

.c8 {
    grid-area: '8';
}

.c9 {
    grid-area: '9';
}

.c10 {
    grid-area: '10';
}

.c11 {
    grid-area: '11';
}

.c12 {
    grid-area: '12';
}